
#inicio .contenido header .contenido-header img {
    width: 150px;
    height: 35px;
}

#inicio .contenido header .banderas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

#inicio .contenido header .contenido-header {
    background: white;
}

#inicio .contenido header .banderas .bandera-item {
    position: relative;
    right: 10px;
}

.redes {
    display: none;
}

nav {
    display: none;
}

nav.responsive {
    display: block;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 59px;
    left: 0;
    padding: 10px 0;
}

nav.responsive ul {
    display: block !important;
    text-align: center;
}

nav.responsive ul li {
    margin: 5px 0;
}

#icono-nav {
    display: block;
}

#icono-nav i{
    color: var(--blue-color);
}

#inicio .contenido .presentacion h2 {
    font-size: 40px;
}

#sobremi {
    flex-direction: column;
    align-items: center;
}

#sobremi .contenedor-foto {
    width: 45%;
    margin-bottom: 20px;
    position: relative;
    bottom: 20px;
}

#sobremi .contenedor-foto img:first-child {
    bottom: 30px;
}

#sobremi .contenedor-foto img:last-child {
    bottom: 10px;
}

#sobremi .sobremi{
    height: auto;
    position: relative;
    margin: 0;
}

#sobremi .sobremi .titulo-seccion {
    text-align: center;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    text-align: center;
}

#sobremi .sobremi h4 {
    font-size: 15px;
    text-align: center;
}

#sobremi .sobremi p {
    font-size: 12px;
    text-align: center;
}

#sobremi .intro-container {
    position: relative;
    bottom: 70px;
}


#contenido-sobremi .imagen-container img {
    display: none;
}

#contenido-sobremi .articulo-container .texto-container {
    padding: 10%;
    margin: 0;
    border-radius: 30px;
    max-width: 100%;
}

#contenido-sobremi .articulo-container .imagen-container {
    display: none;
}

/* seccion MIS SERVICIOS */

#servicios {
    padding: 50px 15px;
}

#servicios .fila {
    display: block;
}

#servicios .fila .servicio {
    margin: 10px auto;
}

/* seccion HABLIDADES MI */
.contenedor-skills {
    padding: 50px 20px;
}

/* seccion PORTFOLIO */
#portfolio {
    padding: 50px 0;
}

#portfolio .fila {
    display: block;
}

#portfolio .fila .proyecto {
    margin: 10px auto;
}

#portfolio .fila .proyecto .info button {
    color: white;
}

/* seccion CONTACTO */
#contacto {
    padding: 50px 15px;
}

#contacto .contenedor-form .mitad {
    margin-bottom: 15px;
    display: block;
}

#contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
}
