:root {
  --blue-color: #015198;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

/* *********************/
/* seccion I N I C I O */
/* *********************/

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-25deg, white 50%, #000000bc 50%);
  /* background-image: linear-gradient(-25deg, rgb(255, 255, 255) 50%, var(--blue-color) 50%); */
  bottom: 0;
  left: -100%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
}

/* Boton de cambio de idioma */

.cl-toggle-switch {
  position: relative;
}

.cl-switch {
  position: relative;
  display: inline-block;
}
/* Input */
.cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}
/* Track */
.cl-switch > span::before {
  content: "";
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgb(0, 0, 0, 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
}
/* Thumb */
.cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
}
/* Checked */
.cl-switch > input:checked {
  right: -10px;
  background-color: #85b8b7;
}

.cl-switch > input:checked + span::before {
  background-color: #85b8b7;
}

.cl-switch > input:checked + span::after {
  background-color: #018786;
  transform: translateX(16px);
}
/* Hover, Focus */
.cl-switch:hover > input {
  opacity: 0.04;
}

.cl-switch > input:focus {
  opacity: 0.12;
}

.cl-switch:hover > input:focus {
  opacity: 0.16;
}
/* Active */
.cl-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-switch > input:active + span::before {
  background-color: #8f8f8f;
}

.cl-switch > input:checked:active + span::before {
  background-color: #85b8b7;
}
/* Disabled */
.cl-switch > input:disabled {
  opacity: 0;
}

.cl-switch > input:disabled + span::before {
  background-color: #ddd;
}

.cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
}

.cl-switch > input:checked:disabled + span::after {
  background-color: #61b5b4;
}

/* Termino de estilos de Boton de cambio de idioma */

#inicio {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

#inicio .contenido header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  right: .1px;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#inicio .contenido header .contenido-header img {
  text-align: center;
  width: 200px;
  height: 44px;
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: #000000;
  margin: 0 12px;
  font-weight: 600px;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
  color: var(--blue-color);
}

#inicio .contenido header .contenido-header .redes a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  display: inline-block;
  margin-left: 15px;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
  color: var(--blue-color);
}

#inicio .contenido header .contenido-header .seleccionado {
  color: var(--blue-color);
  font-weight: bold;
}

#inicio .contenido header .contenido-header #icono-nav .nav-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 3rem;
  height: 2rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
}

#inicio .contenido header .contenido-header #icono-nav .nav-button > div {
  background: black;
  height: 2px;
  width: 80%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

.transformation-line-1 {
  transform: rotate(40deg);
}

.transformation-line-2 {
  opacity: 0;
}

.transformation-line-3 {
  transform: rotate(-40deg);
}

#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span {
  font-size: 40px;
  color: var(--blue-color);
}

#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

#inicio .contenido .presentacion a:hover {
  background-color: var(--blue-color);
}

#icono-nav {
  color: #fff;
  display: none;
}

/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
  align-items: center;
}

#sobremi .contenedor-foto {
  position: relative;
  width: 500px;
  transition: all 0.3s ease;
}

#sobremi .contenedor-foto img:first-child {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 100%;
  bottom: 80px;
}

#sobremi .contenedor-foto img:last-child {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s ease;
  opacity: 0;
}

#sobremi .contenedor-foto::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

#sobremi .contenedor-foto:hover::before {
  opacity: 1;
}

#sobremi .contenedor-foto:hover img:last-child {
  opacity: 1;
  transform: translateY(10%);
}

#sobremi .contenedor-foto:hover img:first-child {
  opacity: 0;
}

#sobremi .sobremi {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 500px;
  border-radius: 4em;
  box-shadow: 0 0 0.95em rgba(0, 0, 0, 0.35);
  text-align: center;
  padding: 4vmin;
  margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#sobremi .sobremi h3 {
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobremi .sobremi h3 span {
  color: var(--blue-color);
  font-weight: bold;
}

#sobremi .sobremi h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
  margin-top: 10px;
}

#sobremi .intro-container .intro-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 20px;
}

#sobremi .intro-container .intro-iconos .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s;
}

#sobremi .intro-container .intro-iconos .icon-container:hover {
  transform: scale(1.1);
}

#sobremi .intro-container .intro-iconos .icon-container:hover i {
  color: var(--blue-color);
}

#sobremi .intro-container .intro-iconos .icon-container i {
  color: black;
}

#sobremi .intro-container .intro-iconos .icon-container a i {
  font-size: 24px;
}

/* #sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
} */

/* #sobremi .sobremi a:hover {
    background-color: #060165;
    color: #fff;
} */

/* *********************/
/* seccion S O B R E M I */
/* *********************/

#contenido-sobremi {
  max-width: 100%;
  padding: 100px 15px;
  background: #f7f7f7;
}

#contenido-sobremi h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contenido-sobremi .articulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

#contenido-sobremi .articulo-container .imagen-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenido-sobremi .articulo-container .imagen-container img {
  max-width: 100%;
  border-radius: 50px;
  filter: grayscale(10);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.55);
}

#contenido-sobremi .articulo-container .texto-container {
  max-width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
  margin: 50px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.55);
}

#contenido-sobremi .articulo-container .texto-container p {
  font-size: 14px;
  line-height: 24px;
  color: #565656;
  margin-bottom: 12px;
  margin-top: 10px;
}

#contenido-sobremi .articulo-container .texto-container h4 {
  font-size: 22px;
  color: var(--blue-color);
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 15px;
}

#contenido-sobremi .articulo-container .texto-container span {
  font-size: 15px;
  font-weight: bold;
  color: var(--blue-color);
}

#contenido-sobremi .articulo-container .texto-container button {
  width: 150px;
  height: 50px;
  background-color: var(--blue-color);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

#contenido-sobremi .articulo-container .texto-container button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}

#contenido-sobremi .articulo-container .texto-container .contacto-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 15px 0 15px 0;
}

/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

#servicios {
  padding: 100px 15px;
  text-align: center;
  background-color: #b5b5b5;
}

#servicios .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 30px auto;
  border-color: var(--blue-color);
}

#servicios .fila .servicio {
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  margin: 0 5px;
  border-radius: 40px;
  transition: 0.5s;
}

#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 25px;
  color: var(--blue-color);
}

#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}

/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
  background: linear-gradient(var(--blue-color), rgba(33, 16, 16, 0.8)),
    url("img/fondo-skills.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: #fff;
  width: 95%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso5 {
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso5 2s forwards;
}

@keyframes progreso1 {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes progreso5 {
  0% {
    width: 0;
  }

  100% {
    width: 65%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

#portfolio .fila .proyecto {
  max-width: 350px;
  max-height: 350px;
  border: 1px solid #000;
  margin: 0 10px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

#portfolio .fila .proyecto img {
  width: 360px;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.5s;
}

#portfolio .fila .proyecto:hover img {
  filter: grayscale(0);
  border-radius: 15px 15px 15px 15px;
}

#portfolio .fila .proyecto .info {
  position: absolute;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--blue-color);
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}

#portfolio .fila .proyecto .info button {
  position: relative;
  width: auto;
  height: auto;
  padding: 5px;
  margin-right: 8px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 0.8em;
  border: none;
  background: var(--blue-color);
  color: white;
  transition: all 0.2s ease;
  overflow: hidden;
}

#portfolio .fila .proyecto .info button span {
  position: absolute;
  width: 100%;
  height: 100px;
  border-radius: 50%;
  background: rgba(38, 184, 221, 0.2);
  top: -50%;
  left: -100%;
  transition: 0.3s;
}

#portfolio .fila .proyecto .info button:hover span {
  left: -10%;
}

#portfolio .fila .proyecto .info button:active {
  transform: scale(0.96);
}

#portfolio .fila .proyecto .info button:hover {
  background: var(--blue-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}

#portfolio .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

/* *********************/
/* seccion C U R S O S */
/* *********************/

#cursos {
  padding: 100px 15px;
  background-color: #f8f9fa;
}

#cursos .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#cursos .contenedor-form {
  display: flex;
  max-width: 1100px;
  margin: auto;
}

#cursos .contenedor-form .cursos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin-left: 60px;
}

#cursos .contenedor-form .cursos-section ul {
  list-style: none;
}

#cursos .contenedor-form .cursos-section .lista-cursos-section {
  padding: 0;
}

#cursos .contenedor-form .cursos-section .lista-cursos-section li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: transform 0.2s;
}

#cursos .contenedor-form .cursos-section .lista-cursos-section li:hover {
  transform: scale(1.1);
}

#cursos .contenedor-form .cursos-section .lista-cursos-section li img {
  max-width: 8%;
  margin-right: 10px;
}

#cursos .contenedor-form .cursos-section .lista-cursos-section li a {
  text-decoration: none;
}

#cursos .contenedor-form .cursos-section .lista-cursos-section li p {
  margin: 0;
  color: black;
}

#cursos .contenedor-form .cursos-section .lista-cursos-section h3 {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px;
}

#cursos .contenedor-form .emoji-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.5s;
}

#cursos .contenedor-form .emoji-section img {
  max-width: 100%;
  height: auto;
}

#cursos .contenedor-form .emoji-section:hover {
  transform: scale(1.1);
}

/*

#cursos .contenedor-form .fila {
    margin-bottom: 15px;
}


#cursos .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#cursos .contenedor-form input,
#cursos .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#cursos .contenedor-form .mitad input {
    width: 48%;
}

#cursos .contenedor-form .input-full {
    width: 100%;
}


#cursos .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#cursos .btn-enviar:hover {
    background-color: var(--blue-color);
    color: #fff;
} */

/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
  background-color: var(--blue-color);
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
  border-radius: 10px 10px 0 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}
