---
import logo from "../assets/images/logo.png";
---

<header>
  <section class="contenido-header">
    <a href=""><img src={logo.src} alt="Logo Benjamins" /></a>
    <nav id="nav" class="">
      <ul id="links">
        <li>
          <a href="" class="seleccionado">INICIO</a>
        </li>
        <!-- <li><a href="#sobremi" onclick="seleccionar(this)">SOBRE MI</a></li> -->
        <li>
          <a href="#servicios">EXPERIENCIA</a>
        </li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#cursos">CURSOS</a></li>
        <!-- <li><a href="#contacto" onclick="seleccionar(this)">CONTACTO</a></li> -->
        <!-- <button class="btn-mode-night">
                  <span><i class="fa-regular fa-sun"></i></span>
                  <span><i class="fa-solid fa-moon"></i></span>
              </button> -->
      </ul>
    </nav>

    <!-- Icono del menu responsive  -->
    <div id="icono-nav">
      <button class="nav-button">
        <div class="nav-button-line-1"></div>
        <div class="nav-button-line-2"></div>
        <div class="nav-button-line-3"></div>
      </button>
    </div>

    <article id="iconos" class="redes">
      <a
        href="https://www.linkedin.com/in/benjam%C3%ADn-rodr%C3%ADguez-valenzuela-a86685206?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BAuROqqhrSaGqZoZG6pZ0ug%3D%3D"
        ><i class="fa-brands fa-linkedin"></i></a
      >
      <a href="https://github.com/BenjaEsteban"
        ><i class="fa-brands fa-github"></i></a
      >
      <a href="https://www.instagram.com/benja_3steban/"
        ><i class="fa-brands fa-instagram-square"></i></a
      >
    </article>
  </section>
</header>


<style>
  header {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    right: 1px;
  }

  header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  header .contenido-header img {
    text-align: center;
    width: 200px;
    height: 44px;
  }

  header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  header .contenido-header nav ul li a {
    text-decoration: none;
    color: #000000;
    margin: 0 12px;
    font-weight: 600px;
    transition: 0.5s;
  }

  header .contenido-header nav ul li a:hover {
    color: var(--blue-color);
  }

  header .contenido-header .redes a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
    transition: 0.5s;
  }

  header .contenido-header .redes a:hover {
    color: var(--blue-color);
  }

  header .contenido-header .seleccionado {
    color: var(--blue-color);
    font-weight: bold;
  }

  header .contenido-header #icono-nav .nav-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 3rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: 0.65rem;
  }

  header .contenido-header #icono-nav .nav-button > div {
    background: black;
    height: 2px;
    width: 80%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
  }

  .transformation-line-1 {
    transform: rotate(40deg);
  }

  .transformation-line-2 {
    opacity: 0;
  }

  .transformation-line-3 {
    transform: rotate(-40deg);
  }


</style>
